

<!-- <section id="header" class="appear">
  <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(5, 42, 62, 1);">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      	  <span class="fa fa-bars color-white"></span>
        </button>
        <div class="navbar-logo">
         
        </div>
      </div>
 
    </div>
  </div>
</section> -->
  <section id="intro">
    <div class="intro-content">
            <img src="../../assets/images/intro-background.png" style="width: 150%;height: 60vh;">
         </div>
  </section>
    
    
    <div class="mainsection">
      <h3 style="text-align-last:center;"> Why Flamingo Airlines?</h3>
        <p style="text-align-last: left;">We are a leading online travel company in India providing a 'best in class' customer experience with the goal to be 'India's     Travel Planner'.Our web applications and our other associated platforms, leisure and business travelers can explore, research, compare prices and book a wide range of services catering to their travel needs.A strong and "trusted" travel Airways of India, our strengths include a large and loyal customer base, a multi-channel platform for leisure and business travelers, a robust mobile eco-system for a spectrum of travelers and suppliers, a strong technology platform designed to deliver a high level of scalability and innovation and a seasoned senior management team comprising of industry executives with deep roots in the travel industry in India and abroad.</p>

        <p style="text-align-last: left;">We are dedicated to ensuring a superior user experience on our platform and a critical component of that is customer service. We provide customer support at all stages of our customer's journey – before, during and after. Our customer "touch-points" include our website, mobile platforms, retail stores, call centres, a network of over 17,000 agents across India addressing the needs of a large fragmented market of travel agents and a portfolio of B2E clients across India employing over 4 million people.
        </p>
        
     </div>
         
    
    

  <!-- services -->
  <section id="section-services" class="section pad-bot30 bg-white">
    <div class="container">

      <div class="row mar-bot40">
        <div class="col-lg-4">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-screen">screen</a>
            </div>
          </div>
          <h3 class="text-bold">Responsive</h3>
          <p>Flamigo Airways provides you a good services in all aspects,It has been well know for its services</p>

          <div class="clear"></div>
        </div>

        <div class="col-lg-4">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-location">location</a>
            </div>
          </div>
          <h3 class="text-bold">Great Peers</h3>
          <p>We are a team of achievers. Our folks are ambitious, go getters, fun loving, aware and proactive</p>

          <div class="clear"></div>
        </div>

        <div class="col-lg-4">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-images">images</a>
            </div>
          </div>
          <h3 class="text-bold">Most Trusted Airways</h3>
          <p>With a strong focus on fulfilling customer needs and service,we are most trusted online travels.</p>

          <div class="clear"></div>
        </div>

      </div>
     
    </div>
  </section>

  <!-- spacer section:testimonial -->
  <section id="testimonials" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="align-center">
            <!--<div class="flexslider testimonials-slider">-->
              <ul class="slides">
                <li>
                  <div class="testimonial clearfix">
                    <div class="mar-bot20">
                      <!--<img alt="" src="img/testimonial/testimonial1.png" class="img-circle" >-->
                    </div>
                    <i class="fa fa-quote-left fa-5x"></i>
                    <h5 text-align-last: >
Located in Freeport, Grand Bahama Domestic Terminal, Marsh Harbour Abaco International Airport, Bimini International Airport, Mangrove Cay International Airport Nassau, New Providence Lynden Pindling International Airport. We fly throughout the Bahamas and Caribbean region.

Our senior captains Raymond Meadows Sr. & Vincent Colebrooke have over 25 years of experience in this industry. Our general manager Sharon Meadows has over 20 years of experience in the customer care industry. We are committed to giving you the best flight service experience ever and we stand by our reputation of excellence.
											</h5>
                    <br/>
                   <!-- <span class="author">&mdash; SARAH DOE <a href="#">www.siteurl.com</a></span>-->
                  </div>
                </li>

             
              </ul>
            </div>
          </div>
        </div>

      </div>
  </section>

 


