
<head>
	<title>Table V01</title>
	
</head>
<body style="background-color: black">
	<header id="header" >
				
			</header><!-- #header -->
			
	<div class="limiter">
		<div class="container-table100" style="position:relative; top:40px;" >
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">FilghtId</th>
								<th class="column2">Flight Name</th>
								<th class="column3">From</th>
								<th class="column4">To</th>
								<th class="column5">Depart</th>
								<th class="column6">Arrive</th>
                                <th class="column6">Seats</th>
                                <th class="column6">Price</th>
							</tr>
						</thead>
						<tbody>
								<tr>
									<td class="column1">101</td>
									<td class="column2">Spice Jet</td>
									<td class="column3">Pune</td>
									<td class="column4">Mumbai</td>
									<td class="column5">01-10-2019</td>
                                    <td class="column6">02-10-2019</td>
                                    <td class="column7">02</td>
									<td class="column8">6000</td>
									
								</tr>
								<tr>
									<td class="column1">101</td>
									<td class="column2">Spice Jet</td>
									<td class="column3">Pune</td>
									<td class="column4">Mumbai</td>
									<td class="column5">01-10-2019</td>
                                    <td class="column6">02-10-2019</td>
                                    <td class="column7">02</td>
									<td class="column8">6000</td>
								
								</tr>
							
								<tr>
									<td class="column1">101</td>
									<td class="column2">Spice Jet</td>
									<td class="column3">Pune</td>
									<td class="column4">Mumbai</td>
									<td class="column5">01-10-2019</td>
                                    <td class="column6">02-10-2019</td>
                                    <td class="column7">02</td>
									<td class="column8">6000</td>
								</tr>
								<tr>
									<td class="column1">101</td>
									<td class="column2">Spice Jet</td>
									<td class="column3">Pune</td>
									<td class="column4">Mumbai</td>
									<td class="column5">01-10-2019</td>
                                    <td class="column6">02-10-2019</td>
                                    <td class="column7">02</td>
									<td class="column8">6000</td>
								</tr>
								<tr>
									<td class="column1">101</td>
									<td class="column2">Spice Jet</td>
									<td class="column3">Pune</td>
									<td class="column4">Mumbai</td>
									<td class="column5">01-10-2019</td>
                                    <td class="column6">02-10-2019</td>
                                    <td class="column7">02</td>
									<td class="column8">6000</td>
                                </tr>
                                <tr>
									<td class="column1">101</td>
									<td class="column2">Spice Jet</td>
									<td class="column3">Pune</td>
									<td class="column4">Mumbai</td>
									<td class="column5">01-10-2019</td>
                                    <td class="column6">02-10-2019</td>
                                    <td class="column7">02</td>
									<td class="column8">6000</td>
									
                                </tr>
                                <tr>
									<td class="column1">101</td>
									<td class="column2">Spice Jet</td>
									<td class="column3">Pune</td>
									<td class="column4">Mumbai</td>
									<td class="column5">01-10-2019</td>
                                    <td class="column6">02-10-2019</td>
                                    <td class="column7">02</td>
									<td class="column8">6000</td>
									
                                </tr>
                                <tr>
									<td class="column1">101</td>
									<td class="column2">Spice Jet</td>
									<td class="column3">Pune</td>
									<td class="column4">Mumbai</td>
									<td class="column5">01-10-2019</td>
                                    <td class="column6">02-10-2019</td>
                                    <td class="column7">02</td>
									<td class="column8">6000</td>
									
                                </tr>
                                <tr>
									<td class="column1">101</td>
									<td class="column2">Spice Jet</td>
									<td class="column3">Pune</td>
									<td class="column4">Mumbai</td>
									<td class="column5">01-10-2019</td>
                                    <td class="column6">02-10-2019</td>
                                    <td class="column7">02</td>
									<td class="column8">6000</td>
									
								</tr>
							
							
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</body>

