

  <section id="header" class="appear">
      <img src="../../assets/images/intro-background.png" style="width: 100%;height: 60vh;">
  </section>
  <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(5, 42, 62, 1);">
    <div class="container">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      	  <span class="fa fa-bars color-white"></span>
        </button>
        <div class="navbar-logo">
         
        </div>
      </div>
     
      <!--/.navbar-collapse -->
    </div>
  </div>

  <section id="intro">
    <div class="intro-content">
   
         </div>
  </section>
    
    
    

  <!-- services -->
  <section id="section-services" class="section pad-bot30 bg-white">
    <div class="container">

       <div class="col-lg-4">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-location">location</a>
            </div>
          </div>
          <h3 class="text-bold">Address</h3>
          <p>Lynden Pindling International Airport Nassau,Bahamas</p>

          <div class="clear"></div>
        </div>

        <div class="col-lg-4">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-contract">Phone</a>
            </div>
          </div>
          <h3 class="text-bold">Phones</h3>
            <p> (242) 351-4963</p>
            <p>(242) 377-0354</p>

          <div class="clear"></div>
        </div>

        <div class="col-lg-4">
          <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
            <div class="float-left mar-right20">
              <a href="#" class="hi-icon hi-icon-archive">images</a>
            </div>
          </div>
          <h3 class="text-bold">E-mail</h3>
          <p>Flamingo.demolink.org</p>
            <p> flamingoair@coralwave.com</p>
         </div>
          
                          </div>
    
          </section>

  

 

 
  


  
 



