<!DOCTYPE html>
<html>

<head>
  <!-- BASICS -->
  <meta charset="utf-8">
  <title>About Us</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    
    <style type="text/css">
        .mainsection {text-align: center;margin-top: 20px;margin-left: 80px;margin-right: 80px;margin-bottom:50px; color: black;line-height:25px;}
 </style>

</head>

<body>
 
  <section id="intro">
    <div class="intro-content">
      <h2>Happy Journey</h2>
    
    </div>
  </section>
    
   <div align="center">
<h3>Download Ticket PDF</h3>
<h3>Send Email Confirmation</h3>
<h3>Delete Ticket</h3>
</div>
    
    

 
     

  
 

 



